.container{
    margin-bottom: 30px;
}
 .orange-bg{
     background-color: blanchedalmond;
     border-radius: 5px;
 }
 .carousel-item{
     padding: 20px 40px;
 }
 .price{
     color: darkorange;
 }
.title-product{
    color: darkgoldenrod;
}
 .buy-now-button{
     background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
     color: #fff;
     border: none;
     border-radius: 8pz;
     padding: 9px 25px;
     cursor: pointer;
 }
 .cat1 , .cat2 , .cat3{
  padding: 10px 30px;
  border-radius: 10px;
 }
 .cat1{
     background-color: orange;
 }
 .cat2{
     background-color: palevioletred;
 }
 .cat3{
     background-color: royalblue;
 }
 .categories h1{
     color: red;
 }
 .categories img{
     width: 100px;
 }
 .card{
     border: none;
     box-shadow: 5px 5px 10px lightgray;

 }
 #Contact{
     height: 300px;
 }
 #Contact h6{
     color: grey;

 }
 .align{
     text-align: justify;
 }
 footer{
     text-align: center;
 }